 
     {{>header}}
    <section>
      <div class="container">
        <h1>{{title}}</h1>
         <p>{{body}}</h1>
        <form action="/add">
          <label for="" class="">Title:</label>
          <input type="text" class="" name="title"><br/>
          <br/>
           <label for="" class="">Description:</label>
           <textarea class="" name="description" placeholder="Description">  </textarea>
          <br/>
           <button type="submit" class="btn btn" value="Add New" >Add new</button>
        </form>
      </div>
    </section> 
    {{>footer}}
 