 
     {{>header}}
    <section>
      <div class="container">
        <h1>{{title}}</h1>
         <p>{{body}}</p>
            <p>{{blog.id}}</p>
             <p>{{ blog.title}}</p>
        
      </div>
    </section> 
    {{>footer}}
 