 
     {{>header}}
    <section>
      <div class="container">
        <h1>{{title}}</h1>
         <p>{{body}}</h1>
        <form action="/add">
          <label for="" class="">Title:{{blog.title}}</label>         
           <label for="" class="">Description:{{blog.description}}</label> 
           <button type="submit" class="btn btn" value="Add New" >Are you sure want to delete?</button>
        </form>
      </div>
    </section> 
    {{>footer}}
 