<html lang="en">
  <head>
    <link rel="stylesheet" href="./../css/style.css" />
  </head>
  <body> 
<header class="header"> 
  {{!-- <div> --}}
   
  <nav>
    <ul class="menu-ul">
      <li class="menu-li"> <a href="/">Home</a></li>
      <li class="menu-li"><a href="/blogs">Blogs</a></li>
      <li class="menu-li"><a href="/gallery">Gallary</a></li>
      <li class="menu-li"><a href="/contact">Contact us</a></li>
    </ul>
  </nav>
    <img src="../../images/js.png" alt="logo" height="50" width="50"/>
  
  {{!-- </div> --}}
</header>