body {
    background-color: aquamarine;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(182, 137, 226);
}

.menu-ul {
    list-style-type: none;
    float: right;
}

.menu-ul .menu-li {
    float: left;
    padding: 10px;
}

.gallery {
    list-style-type: none;
    float: right;
}

.gallery .gallery-li {
    float: left;
    padding: 10px;
}